<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script data-main = "libs/main" src = "libs/require.js"></script>
        <link rel="stylesheet" href="view.css">
        <script src="/scripts/test.js"> </script>
    </head>
    <header class="top">
        Scouting 2023. Here We GO
    </header>
    <body>
        <div>
            <div class="Login">
                <div class="column">
                    <label>User</label>
                    <input type="text" id="user" class="inputs"><br>
                    <label>Password</label>
                    <input type ="text" id ="password" class="inputs">
                 
                        <button class="button" onclick = "log_in(document.getElementById('user'),document.getElementById('password'));">Log In</button>
                </div>
            </div>
            
        </div>

        
    </body>


    <div class="funcion">
        
    </div>
</html>